@use '../../assets/styles/mixins' as mixin;

.container {
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixin.sm {
        width: 100%;
        height: 70vh;
        flex-direction: column;
    }
}